/* -- PAREMETRES GENERAUX -- */

* {
    font-family: 'Julius Sans One', sans-serif;
}

h1  {
    color: #1b363b;
    font-weight: bold;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:white;
    position: absolute;
    top:60%;
    left:5%;
}

/* -- BUTTON -- */

.button {
    display: inline-block;
    padding: 15px 50px;
    margin-top: 32%;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 1s, color 1s, border 1s;
    font-size: 25px;
    font-weight: bold;
}

.button-full {
    background-color: #86a395;
    color:white;
    border-color:#86a395;
    margin-left:4%;
    margin-right:30px;
}

.button-full:hover {
    background-color: #c0adc4;
    color:white;
}

.button-ghost {
    border: 1px solid #86a395;
    color:#86a395;
}

.button-ghost:hover {
    background-color: #c0adc4;
    color:white;
    border:#c0adc4;
}

#btn_voir {
    padding: 10px 25px;
    font-size:20px;
    margin:10px;
}

#btn_ajout {
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    font-size:20px;
    margin:10px;
}

#btn_valider {
    margin:10px;
    border:none;
    font-size: 1.2em;
}

#btn_vider {
    margin:5px;
    background-color: white;
    font-size:1.2em;
}

#btn_vider:hover {
    background-color:#c0adc4;
}

/* -- NAVBAR -- */

#logo {
    height: 100px;
    width:auto;
    padding-left: 50px;
}

.text_icone {
    text-align: center;
    color: #86a395;
}

.text_icone:hover {
    color: #c0adc4;
}

#hero_accueil {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(134, 163, 149,0.6),rgba(0, 0, 0,0.4)), url('./images/bougie-slide.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hero_panier{
    width: 100%;
    height: 60vh;
    background-image: url("./images/huile\ essentielle\ slide.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icone {
    color: #86a395;
}

.icone:hover {
    color: #c0adc4;
}

.btn_modif {
    background-color: white;
}

.btn_modif:hover {
    background-color: #86a395;
}

.modif:hover {
    color: white;
}

.produit {
    width: 100px;
    height: auto;
}
.quantite {
    width:25px ; 
    border: none;
    text-align: center;
}

footer {
    background-color: #86a395;
}

#logo_footer {
    height: 120px;
    width:auto;
}

.footer-link {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    color:#c0adc4;
}

#text_copyright {
    color: white;
    margin: auto;
}